<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANGMAN</title>

    {% load static %}
    <link href="{% static 'HangmanGame.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="child">
            {% if langue=='F' %}
            <h2>LE PENDU<span id="niveauJeuChoisi"></span></h2>
            {% else %}
            <h2>HANGMAN<span id="niveauJeuChoisi"></span></h2>
            {% endif %}

        </div>

        <div class="child" id="lettersEspaceJeu"></div>

        <div class="child" id="game">
            <div class="LePendu" id="pendu"><img id="img-pendu" src="../static/LePendu.png" width="">
            </div>
        </div>

        <div class="child">
            <p>
                <span id="definition"></span>
                <span id="texteAide" data="false"></span>
                <button id="boutonAide" data="false" onclick="afficherAide()">Aide ?</button>
            </p>
        </div>

        <div class="child" id="clavier" data="">
        </div>

        <div class="child" id="boutonJouer" data="true" onclick="demarrerJeu()">Jouer</div>

        <div class="child" id="niveauDeJeu" data="true">
            <input type="radio" name="niveauJeu" id="facile" value="E"><label for="facile">Facile</label>
            <input type="radio" name="niveauJeu" id="normal" value="N" checked><label for="normal">Normal</label>
            <input type="radio" name="niveauJeu" id="difficile" value="H"><label for="difficile">Difficile</label>
        </div>

        <div class="child" id="resultat">
            <div id="resultatTitre"></div>
            <div id="resultatCorps"></div>
        </div>

    </div>

    {% load static %}
    <script src="{% static 'HangmanGame.js' %}"></script>
</body>

</html>