{% extends 'base.html' %}

<h1>{% block title %} Create a New Word {% endblock %}</h1>

{% block content %}

<h2 class="mh-3 text-primary">NEW WORD</h2>

<form method="POST">
    <div class="pt-2">
        <label class="pe-2" for="lang" accesskey="l"><u>L</u>anguage:</label>
        <select name="lang" id="lang" class="form-control my-form-control-10">
            <option value="E"
                    {% if lang=='E' or request.form['lang']=='E' %}
                    selected
                    {% endif %}>English</option>
            <option value="F"
                    {% if lang=='F' or request.form['lang']=='F' %}
                    selected
                    {% endif %}>French</option>
        </select>
    </div>

    <div class="row pt-2">
        <div class="col-auto pe-0">
            <label class="my-label" for="word" accesskey="w"><u>W</u>ord:</label>
        </div>
        <div class="col">
            <input type="text" name="word" id="word" placeholder="Word" class="form-control my-form-control-50 fw-bold" style="text-transform: uppercase;"
                   value="{{ word }}" maxlength="20" autofocus>
            <!-- value="{{ request.form['word'] }}" maxlength="20" focused> -->
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-auto pe-0">
            <label class="my-label" for="definition" accesskey="d"><u>D</u>efinition:</label>
        </div>
        <div class="col">
            <input type="text" name="definition" id="definition" placeholder="Definition"
                   class="form-control" maxlength="50" value="{{ definition }}"
                   onchange="premiereLettreMajuscule(this)">
            <!-- class="form-control" maxlength="50" value="{{ request.form['definition'] }}"> -->
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-auto pe-0">
            <label class="my-label" for="hint" accesskey="h"><u>H</u>int:</label>
        </div>
        <div class="col">
            <input name="hint" id="hint" placeholder="Hint"
                   class="form-control" maxlength="50" value="{{ hint }}"
                   onchange="premiereLettreMajuscule(this)">
            <!-- class="form-control" maxlength="50" value="{{ request.form['hint'] }}"> -->
        </div>
    </div>

    <div class="pt-2" style="display: flex; align-items: center;">
        <label class="pe-2" for="difficulty" accesskey="i">D<u>i</u>fficulty:</label>
        <select name="difficulty" id="difficulty" class="form-control my-form-control-10"
                onblur="colorDifficulty()" onchange="colorDifficulty()">
            <option value="E"
                    {% if difficulty=='E' or request.form['difficulty']=='E' %}
                    selected
                    {% endif %}>Easy</option>
            <option value="N"
                    {% if difficulty=='N' or request.form['difficulty']=='N' %}
                    selected
                    {% endif %}>Medium</option>
            <option value="H"
                    {% if difficulty=='H' or request.form['difficulty']=='H' %}
                    selected
                    {% endif %}>Hard</option>
        </select>
        <div id="difficulty-color" style="display: inline-block; margin-left: 15px; width: 30px; height: 30px; border-radius: 50%; border: 1px solid black; background-color: green;"></div>
    </div>


    <div class="pt-2">
        <button type="submit" name="action" value="stop-adding" class="btn btn-primary" accesskey="s"><u>S</u>ubmit</button>
        <button type="submit" name="action" value="continue-adding" class="btn btn-primary" accesskey="a">Submit and <u>A</u>dd another one</button>
    </div>

    <br />
    <div class="row">
        <div class="col-4">
            <label>Last word: <b>{{lastWord}}</b></label>
        </div>
        <div class="col-2">
            <label>Easy: <b>{{countEasy}}</b></label>
        </div>
        <div class="col-2">
            <label>Medium: <b>{{countMedium}}</b></label>
        </div>
        <div class="col-2">
            <label>Hard: <b>{{countHard}}</b></label>
        </div>
        <div class="col-2">
            <label>All: <b>{{countEasy + countMedium + countHard}}</b></label>
        </div>
    </div>
</form>

<script src="{{ url_for('static', filename= 'scripts.js') }}"></script>

{% endblock %}