{% extends 'base.html' %}

<h1>{% block title %} Edit "{{ word['word'] }}" {% endblock %}</h1>

{% block content %}

<h2 class="mh-3 text-primary">EDIT WORD "{{ word['word'] }}"</h2>

<form method="POST">
    <div class="pt-2">
        <label class="pe-2" for="lang" accesskey="l"><u>L</u>anguage:</label>
        <select name="lang" id="lang" class="form-control my-form-control-10">
            <option value="E"
                    {% if request.form['lang']=='E' or word['lang']=='E' %}
                    selected
                    {% endif %}>English</option>
            <option value="F"
                    {% if request.form['lang']=='F' or word['lang']=='F' %}
                    selected
                    {% endif %}>French</option>
        </select>
    </div>

    <div class="row pt-2">
        <div class="col-auto pe-0">
            <label class="my-label" for="word" accesskey="w"><u>W</u>ord:</label>
        </div>
        <div class="col">
            <input type="text" name="word" id="word" placeholder="Word" class="form-control my-form-control-50 fw-bold"
                   style="text-transform: uppercase;"
                   value="{{ request.form['word'] or word['word'] }}" maxlength="20">
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-auto pe-0">
            <label class="my-label" for="definition" accesskey="d"><u>D</u>efinition:</label>
        </div>
        <div class="col">
            <input type="text" name="definition" id="definition" placeholder="Definition"
                   class="form-control" maxlength="50"
                   value="{{ request.form['definition'] or word['definition'] }}"
                   onchange="premiereLettreMajuscule(this)">
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-auto pe-0">
            <label class="my-label" for="hint" accesskey="h"><u>H</u>int:</label>
        </div>
        <div class="col">
            <input name="hint" id="hint" placeholder="Hint"
                   class="form-control" maxlength="50"
                   value="{{ request.form['hint'] or word['hint'] }}"
                   onchange="premiereLettreMajuscule(this)">
        </div>
    </div>

    <div class="pt-2">
        <label class="pe-2" for="difficulty" accesskey="f">Di<u>f</u>ficulty:</label>
        <select name="difficulty" id="difficulty" class="form-control my-form-control-10"
                onblur="colorDifficulty()" onchange="colorDifficulty()">
            <option value="E"
                    {% if request.form['difficulty']=='E' or word['difficulty']=='E' %}
                    selected
                    {% endif %}>Easy</option>
            <option value="N"
                    {% if request.form['difficulty']=='N' or word['difficulty']=='N' %}
                    selected
                    {% endif %}>Medium</option>
            <option value="H"
                    {% if request.form['difficulty']=='H' or word['difficulty']=='H' %}
                    selected
                    {% endif %}>Hard</option>

        </select>
        <div id="difficulty-color" style="display: inline-block; margin-left: 15px; width: 30px; height: 30px; border-radius: 50%; border: 1px solid black; background-color: green;"></div>
    </div>

    <div class="pt-2">
        <label class="pe-2" for="nbTimesChosen" accesskey="n"><u>N</u>ombre times chosen:</label>
        <input type="number" class="form-control my-form-control-10" name="nbTimesChosen" id="nbTimesChosen" value="{{ request.form['nbTimesChosen'] or word['nbTimesChosen'] }}">
    </div>

    <div class="pt-2">
        <button type="submit" class="btn btn-primary" accesskey="s"><u>S</u>ubmit</button>
    </div>
</form>

<script src="{{ url_for('static', filename= 'scripts.js') }}"></script>

{% endblock %}