<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Some apps">
    <meta name="author" content="Mohamed SMATI">
    <title>{% block title %}HANGMAN{% endblock title %}</title>
    <!-- bloc where we can change the default title, when we extend 'base.html' -->

    {% load static %}
    <link href="{% static 'bootstrap513-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-icons-1.9.1/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'HangmanGame.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    {% comment %}
    <!-- <link href="{ % static 'favicon.ico' %}" rel="icon"> -->
    <!-- <link rel="shortcut icon" type="image/png" href="{ % static 'favicon.ico' % }" /> -->
    {% endcomment %}

    {% block head %}
    <!-- bloc where we can add "style" content, when we extend 'base.html' -->
    {% endblock head %}

</head>

<!-- <body class="text-center"> -->

<body {% block bodyclass %} {% endblock bodyclass %}>
    <!-- bloc where we can add Bootstrap class to body tag, when we extend 'base.html' -->


    {% block content %}
    <!-- bloc where we add HTML content, when we extend 'base.html' -->
    {% endblock content %}

    {% load static %}
    <script src="{% static 'bootstrap513-dist/js/bootstrap.bundle.min.js' %}"></script>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>


    <!-- Default Statcounter code for Hangman
    http://smatimed.pythonanywhere.com/ -->
    <script type="text/javascript">
        var sc_project = 12899520;
        var sc_invisible = 1;
        var sc_security = "f77d4069"; 
    </script>
    <script type="text/javascript"
            src="https://www.statcounter.com/counter/counter.js"
            async></script>
    <noscript>
        <div class="statcounter"><a title="Web Analytics"
               href="https://statcounter.com/" target="_blank"><img
                     class="statcounter"
                     src="https://c.statcounter.com/12899520/0/f77d4069/1/"
                     alt="Web Analytics"
                     referrerPolicy="no-referrer-when-downgrade"></a></div>
    </noscript>
    <!-- End of Statcounter Code -->

    <!-- <script>
        // ------- Go Top button
        // When the user scrolls down 100px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                document.getElementById("theGoTopBtn").style.display = "block";
            } else {
                document.getElementById("theGoTopBtn").style.display = "none";
            }
        }

        {% block add_to_script %}
        // bloc where we add JavaScript content, when we extend 'base.html'
        {% endblock add_to_script %}        
    </script> -->

</body>

</html>