{% extends 'base.html' %}

{% block head %}

{% load static %}
<!-- <link href="{ % static 'HangmanGame.css' %}" rel="stylesheet"> -->

{% endblock head %}


{% block content %}

<div class="container mt-1">

    <!-- <div class="div_enfant">
        {% if langue == 'F' %}
        <h2>LE PENDU<span id="niveauJeuChoisi"></span></h2>
        {% else %}
        <h2>HANGMAN<span id="niveauJeuChoisi"></span></h2>
        {% endif %}
    </div> -->

    <div class="row">
        <div class="col-2 px-0">
            <!-- * Bouton du son -->
            <button class="btn btn-outline-dark btn-rounded ms-3 py-1 px-2" onclick="changerSon()"
                    style="float: left;">
                <span id="bouton-son" class="bi bi-bell-fill bouton-nav"></span>
            </button>
            <!-- <a href="" style="float: left;" class="btn btn-outline-dark btn-rounded ms-3 py-1 px-2" role="button" onclick="changerSon()" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-original-title="{% if langue == 'F' %}Son{% else %}Sound{% endif %}">
                <span id="bouton-son" class="bi bi-bell-fill" style="font-size: large"></span>
            </a> -->
        </div>
        <div class="col">
            <div class="div_enfant">
                {% if langue == 'F' %}
                <h3 class="titreJeu">LE PENDU<span id="niveauJeuChoisi"></span></h3>
                {% else %}
                <h3 class="titreJeu">HANGMAN<span id="niveauJeuChoisi"></span></h3>
                {% endif %}
            </div>
        </div>
        <div class="col-2 px-0">
            <!-- *Navigateur* start -->
            <a href="{% url 'dashboard' %}" style="float: right;" class="btn btn-outline-dark btn-rounded ms-3 py-1 px-2" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-original-title="{% if langue == 'F' %}Accueil{% else %}Home{% endif %}">
                <span class="bi bi-house-fill bouton-nav"></span>
                <!-- <p class="m-0 p-0">{% if langue == 'F' %}Accueil{% else %}Home{% endif %}</p> -->
            </a>
            <a href="{% url 'hangman' langue %}" style="float: right;" class="btn btn-outline-dark btn-rounded py-1 px-2" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-original-title="{% if langue == 'F' %}Annuler{% else %}Cancel{% endif %}">
                <span class="bi bi-x-circle-fill bouton-nav"></span>
                <!-- <p class="m-0 p-0">{% if langue == 'F' %}Annuler{% else %}Cancel{% endif %}</p> -->
            </a>
            <!-- *Navigateur* end -->
        </div>
    </div>


    <div class="div_enfant" id="lettersEspaceJeu"></div>

    <!-- Le pendu -->
    <div class="div_enfant" id="game">
        <!-- Les différentes images du pendu -->
        <div class="LePendu" id="pendu"><img id="img-pendu" src="../../static/LePendu.png" width="">
        </div>
        <!-- l'image de pendu pour l'animation finale -->
        <div class="LePendu" id="pendu2" data="false"><img id="img-pendu2" src="../../static/LePendu11.png" data="false" width="">
        </div>
    </div>

    <!-- indication (definition) et aide -->
    <div class="div_enfant pt-2">
        <p id="p-indication">
            <span id="definition" data="false"></span>
            <span id="texteAide" data="false"></span>
            <button id="boutonAide" data="false" onclick="afficherAide()">{% if langue == 'F' %}Aide{% else %}Help{% endif %} ?</button>
            <button id="boutonEnlever5Lettres" data="false" onclick="enlever5Lettres()">{% if langue == 'F' %}Enlever 5 lettres{% else %}Remove 5 lettres{% endif %} ?</button>
        </p>
    </div>

    <!-- *clavier* -->
    <div class="div_enfant" id="clavier" data="">
    </div>


    <div class="div_enfant" id="boutonJouer" data="true" onclick="demarrerJeu('{{langue}}')">{% if langue == 'F' %}Jouer{% else %}Play{% endif %}</div>

    <!-- Difficulté du jeu -->
    <div class="div_enfant" id="niveauDeJeu" data="true">
        <label class="pe-3 ps-1" for="facile">
            <input class="ps-5" type="radio" name="niveauJeu" id="facile" value="E"> {% if langue == 'F' %}Facile{% else %}Easy{% endif %}</label>
        <label class="pe-3 ps-1" for="normal">
            <input class="ps-5" type="radio" name="niveauJeu" id="normal" value="N" checked> {% if langue == 'F' %}Moyen{% else %}Medium{% endif %}</label>
        <label class="ps-1" for="difficile">
            <input class="ps-5" type="radio" name="niveauJeu" id="difficile" value="H"> {% if langue == 'F' %}Difficile{% else %}Hard{% endif %}</label>
    </div>

    <!-- * Options d'assistance du jeu -->
    <div class="div_enfant" id="assistanceAuJeu" data="true">
        <!-- indication -->
        <label class="pe-3 ps-1" for="indicationJeu" data-bs-toggle="tooltip" data-bs-placement="top"
               data-bs-original-title="{% if langue == 'F' %}Afficher une définition (indication) du mot{% else %}Display a definition (indication) of the word{% endif %}">
            <input class="ps-5" type="checkbox" id="indicationJeu" onclick="desactiverAideSiNecessaire()" value="I" checked> Indication</label>

        <!-- Aide -->
        <label class="pe-3 ps-1" for="aideJeu" data-bs-toggle="tooltip" data-bs-placement="top"
               data-bs-original-title="{% if langue == 'F' %}Proposer d'afficher une aide (indice) après 5 erreurs{% else %}Propose to show help (hint) after 5 errors{% endif %}">
            <input type="checkbox" id="aideJeu" value="A" onclick="desactiverAideSiNecessaire()" checked> {% if langue == 'F' %}Aide{% else %}Help{% endif %}</label>

        <!-- Enlever 5 lettres -->
        <label class="ps-1" for="supp5Jeu" data-bs-toggle="tooltip" data-bs-placement="top"
               data-bs-original-title="{% if langue == 'F' %}Proposer d'enlever 5 lettres après 8 erreurs{% else %}Propose to remove 5 letters after 8 errors{% endif %}">
            <input type="checkbox" id="supp5Jeu" value="H" checked> {% if langue == 'F' %}Enlever 5 lettres{% else %}Remove 5 letters{% endif %}</label>
        <!-- <input type="checkbox" id="supp5Jeu" value="H" checked><label class="ps-1" for="supp5Jeu" data-bs-toggle="tooltip" data-bs-placement="top"
               data-bs-original-title="{% if langue == 'F' %}Proposer d'enlever 5 lettres après 8 erreurs{% else %}Propose to remove 5 letters after 8 errors{% endif %}"> {% if langue == 'F' %}Enlever 5 lettres{% else %}Remove 5 letters{% endif %}</label> -->

    </div>

    <!-- Résultat -->
    <div class="div_enfant" id="resultat">
        <div id="resultatTitre"></div>
        <div id="resultatCorps"></div>
    </div>

    <!-- audios -->
    <audio id="lettre_fausse" hidden>
        <source src="{% static 'lettre_fausse.mp3' %}" type="audio/mpeg">
    </audio>
    <audio id="lettre_juste" hidden>
        <source src="{% static 'lettre_juste.mp3' %}" type="audio/mpeg">
    </audio>
    <audio id="jeu_succes" hidden>
        <source src="{% static 'jeu_succes.mp3' %}" type="audio/mpeg">
    </audio>
    <audio id="jeu_echec" hidden>
        <source src="{% static 'jeu_echec.mp3' %}" type="audio/mpeg">
    </audio>
    <audio id="notification" hidden>
        <source src="{% static 'notification.mp3' %}" type="audio/mpeg">
    </audio>


</div>

{% load static %}
<script src="{% static 'HangmanGame.js' %}"></script>

{% endblock content %}